#fighters {
    display: inline-flex;
    width: auto;
    height: auto;
}

li {
    border: 3px solid black;
}

.button {
    text-align: center;
    display: inline-flexbox;
    align-items: center;
}
