#fighters {
    display: inline-flex;
    width: auto;
    height: auto;
}

li {
    border: 3px solid black;
}

body {
    height: 100%;
    width: auto;
    padding: 10px;
}
img {
    display: flex-box;
    height: auto;
    width: auto;
}

#scoreboard {
    width: 40%;
    display: grid;
    align-self: center;
}
